<div class='word-detail'>
    <dl class="row">
      
        <dt class="col-sm-3"> {{ word }} </dt>
        <dd class="col-sm-9">
          <p> {{ definition }} </p>
        </dd>
        
      
        <dt class="col-sm-3">Synonyms:</dt>
        <dd class="col-sm-9"><p> <i *ngFor='let synonym of synonyms'> {{synonym}} - </i> </p></dd>
      
        <dt class="col-sm-3 " *ngIf='partOfSpeech'> Part of speech: </dt>
        <dd class="col-sm-9" *ngIf='partOfSpeech'> {{ partOfSpeech }} </dd>
      
        <dt class="col-sm-3" *ngIf='extraResult'>Other definition</dt>
        <dd class="col-sm-9" *ngIf='extraResult'>
          <dl class="row">
            <dd class="col-sm-8">{{ extraResult.definition }}</dd>
          </dl>
        </dd>
      </dl>
      <button (click)='seeGifs(word)' class="btn btn-dark"> See related Memes &raquo;</button>
    
</div>
