<div class="container">
    <h1>Event Registering</h1>
<!-- A Template DRIVEN FORM -->
<hr>
<div class="col-md-4">
    <form #eventForm="ngForm" (ngSubmit)="saveEvemt(eventForm.value)" autocomplete="off">
        <div class="form-group" [ngClass]="{'error': eventForm.controls.eventName?.invalid && (eventForm.controls.eventName?.touched)}" >
            <label for="eventName">Event: </label>
            <em *ngIf="eventForm.controls.eventName?.invalid && (eventForm.controls.eventName?.touched)">Required</em>
            <!-- <em *ngIf="eventForm">Must start with a letter</em> -->

            <input  (ngModel)="event.eventName" required name="eventName" type="text" id="eventName" class="form-control" placeholder="Event Name..."/>

        </div>
        <div class="form-group" [ngClass]="{'error': eventForm.controls.eventLocation?.invalid && (eventForm.controls.eventLocation?.touched)}">
            <label for="eventLocation">Event Location: </label>
            <em *ngIf="eventForm.controls.eventLocation?.invalid && eventForm.controls.eventLocation?.touched">Required</em>
            <!-- <em >Must start with a letter</em> -->
            <input (ngModel)="event.eventLocation"  required name="eventLocation" type="eventLocation" id="eventLocation" class="form-control" placeholder="Event Location..."/>
        </div>
        <span ><button type="submit"  class="btn btn-primary">Register</button>
</span>
        <button type="submit" class="btn btn-default"> Cancel</button>
    </form>
</div>
</div>