<div class="container">
    <h1>Profile</h1>
<!-- A MODEL DRIVEN FORM -->
<hr>
<div class="col-md-4">
    <form [formGroup]="profileForm"  (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off">
        <div class="form-group" [ngClass]="{'error': !validateFirstName() }">
            <label for="firstName">First Name: </label>
            <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
            <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">Must start with a letter</em>
            <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.restrictedWords">Restricted Word found: {{profileForm.controls.firstName.errors.restrictedWords}}</em>

            <input  formControlName='firstName' required name="firstName" type="text" id="firstName" class="form-control" placeholder="First Name..."/>

        </div>
        <div class="form-group" [ngClass]="{'error': !validateLastName() }">
            <label for="lastName">Last Name: </label>
            <em *ngIf="!validateLastName() && profileForm.controls.lastName.errors.required">Required</em>
            <em *ngIf="!validateFirstName()  && profileForm.controls.lastName.errors.pattern">Must start with a letter</em>
            <input formControlName='lastName'  required name="lastName" type="lastName" id="lastName" class="form-control" placeholder="Last Name..."/>
        </div>
        <span ><button type="submit"  class="btn btn-primary">Save</button>
</span>
        <button type="submit" class="btn btn-default"> Cancel</button>
    </form>
</div>
</div>