<div class="gifs-container">
    
    <div class="row g-3 align-items-center form-container">
        <input type='text' [(ngModel)]='searchValue' class="col-auto input-box" [placeholder]='searchValue'/>
        <div class="col-auto">
          <span class="form-text">
            search a word of your choice
          </span>
        </div>
        <div class="col-auto">
            <button class="btn button btn-info" (click)='onSearch()' (keydown.enter)='onSearch()'>Search</button>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 gifs">
        <div *ngFor='let gif of gifs' class="gif-holder col card">
            <img  [src]="gif.images['downsized_medium'].url" alt="gif" class="gif"/>
        </div>
        
    </div>
</div>
