.form-container{
    height: 100px;
    justify-content: center;
    color: white;
}
.input-box{
    width: 250px;
    height: 40px;
    border-radius: 20px;
}
.button{
    color: white;
}
.gifs-container{
    width: 100%;
    background-color: black;
    min-height: 100vh;
}
.gifs{
    max-width: 95%;
    margin: 0 auto;
}
.gif{
    width: 95%;
    height: 95%;
    margin: 0 auto;
}
.gif-holder{
    padding: 20px;
    max-height: 450px;
}